.product {
  flex: 4;
  padding: 20px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productAddButton {
  width: 6rem;
  border: none;
  padding: 0.5rem;
  background-color: teal;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.productTop {
  display: flex;
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productTopRight {
  padding: 1.5rem;
  margin: 1.5rem;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.82);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productInfoImg {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productName {
  font-weight: 600;
}

.productInfoBottom {
  margin-top: 10px;
}

.productInforItem {
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.productInfoValue {
  font-weight: 300;
}

.productBottom {
  padding: 1.5rem;
  margin: 1.5rem;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.82);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productForm {
  display: flex;
  justify-content: space-between;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
}

.productFormLeft > label {
  margin-bottom: 0.5rem;
  color: gray;
}

.productFormLeft > input {
  margin-bottom: 0.5rem;
  border: none;
  padding: 0.25rem;
  border-bottom: 1px solid gray;
}

.productFormLeft > select {
  margin-bottom: 0.5rem;
}

.productUploadImg {
  width: 7rem;
  height: 7rem;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.productFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productUpload {
  display: flex;
  align-items: center;
}

.productButton {
  border: none;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border-radius: 5px;
  background-color: darkblue;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
