.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* font-size: 15px; */
}

.featuredItem {
  flex: 1;
  margin: 0px 2rem;
  padding: 2rem;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.82);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredTitle {
  font-size: 1.3rem;
}

.featuredMoneyContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.featuredMoney {
  font-size: 2rem;
  font-weight: 600;
}

.featuredMoneyRate {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.featuredIcon {
  font-size: 1.5rem;
  margin-left: 5px;
  color: green;
}

.featuredIcon.negative {
  color: red;
}

.featuredSub {
  font-size: 1rem;
  color: grey;
}
